<div class="breadcrumb-section seven" style="background-image: url(/assets/landing/img/inner-pages/breadcrumb-bg7.png)">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-content">
          <h1>Objective of NGG Plants</h1>
          <ul class="breadcrumb-list">
            <li><a href="javascript:void(0)" routerLink="/">Home</a></li>
            <li>Objective of NGG Plants</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
