.align{
    display: flex;
     flex-direction: row;
    align-items: center;
     justify-content: space-between;
}
.alignment{
    display: flex; 
    flex-direction: row;
     align-items: center;
}
.second-align{
    display:flex;
     flex-direction:column;
       justify-content:space-between; 
       padding-right: 150px;
}
.second-align img{
    margin-top:20px;
}
.third-alignment{
    display:flex;
     gap:15px;
      padding-bottom: 50px;
       align-items: center;
}
.third-alignment a img{
    padding-left: 16px;
    color: black;
}
.contact{
    padding-bottom: 20px;

}
.text{
    text-align: center;
     margin-top: 0px;
      margin-bottom:30px;
}
iframe{
    border-radius: 20px;
      border:0; 
      padding-top: 20x;
}
.highlight-link {
    color: green;
    font-size: 22px;
}
.highlight-link:hover{
    color: green ;
}

body {
  cursor: none !important;
}

#cursor-dot {
  width: 10px;
  height: 10px;
  background: #4CAF50;      
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
#cursor-plant {
  width: 20px;                                 
  height: 20px;
  background-image: url('/assets/landing/img/home1/icon/sprout (1).svg');
  background-size: contain;                    
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index:ï¿½9999;
  background-color: transparent;
}
.modern-scroll {
  overflow: hidden;
  white-space: nowrap;
  background: #305f1c;
  padding: 8px;
  color: #fff;
  margin-bottom: 20px;
}
.scroll-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 25s linear infinite;
  caret-color: transparent;
}
.scroll-text:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}