.heading{
    color:green;
}
.green-list {
  list-style: none;          
  padding: 0;
  margin: 0;

  li {
    position: relative;
    padding-left: 35px;   
    margin-bottom: 12px;
    font-size: 18px;
    color: #333;

    &::before {
      content: "➜";          
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #4CAF50;  
      color: white;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
.map-container{
    height: 180px;
    width: 180%;
}
.second-order{
    display: flex;
    flex-direction: column;

}
iframe{
    border-radius: 20px;
    overflow: hidden;   
}