.align{
    display: flex;
     flex-direction: row;
    align-items: center;
     justify-content: space-between;
}
.alignment{
    display: flex; 
    flex-direction: row;
     align-items: center;
}
.second-align{
    display:flex;
     flex-direction:column;
       justify-content:space-between; 
       padding-right: 150px;
}
.second-align img{
    margin-top:20px;
}
.third-alignment{
    display:flex;
     gap:15px;
      padding-bottom: 50px;
       align-items: center;
}
.third-alignment a img{
    padding-left: 16px;
    color: black;
}
.contact{
    padding-bottom: 20px;

}
.text{
    text-align: center;
     margin-top: 0px;
      margin-bottom:30px;
}
iframe{
    border-radius: 20px;
      border:0; 
      padding-top: 20x;
}
.highlight-link {
    color: green;
    font-size: 22px;
}
.highlight-link:hover{
    color: green ;
}