.form-card {
  max-width: 900px;
  background: #ffffff;
  border-radius: 15px ;
  box-shadow: none ;
  border: 2px solid black;
  margin-top: 20px;
  box-sizing: border-box;
  margin-left: 200px;
}
 .title {
  text-align: center;
  margin-bottom: 25px;
  font-style: italic;
  background-color: #1f5d16;
    color: rgb(196, 97, 97);
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}
 .form-body {
  padding: 30px;
  padding-top: 15px;
}
 .required {
  color: red;
  padding-top: 10px;
  margin-bottom: 6px;
}
.row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 20px;
}
.row-1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 20px;
}
.row-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 20px;
}
.row-5{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.full-width {
  margin-bottom: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
label {
  font-weight: 500;
  margin-bottom: 6px;
  color: black;
  font-size: 15px;
}
input,
select,
textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 14px;
  width: 100%;
  outline: none;
  transition: 0.2s ease-in-out;
  height: 42px;
  box-sizing: border-box;
}
input::placeholder {
  font-size: small;
  color: black;
}
textarea {
  height: 80px;
  resize: none;
}
textarea::placeholder {
  font-size: large;
  color: black;
}
 input:focus,
 select:focus,
 textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
.btn-submit {
  width: 100px;
  padding: 5px;
  background: green;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  justify-items: center;
}
.btn-submit:hover {
  background:green;
}
.btn-cancle {
  width: 100px;
  padding: 10px;
  background: red;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  
}
.row-6{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 20px;
}
small {
  margin-top: 4px;
  color: #ff6b6b;
  font-size: 13px;
}
