<div
  class="breadcrumb-section seven"
  style="
    background-image: url(/assets/landing/img/inner-pages/breadcrumb-bg7.png);
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-content">
          <h1>Management of NGG Plants</h1>
          <ul class="breadcrumb-list">
            <li><a href="javascript:void(0)" routerLink="/">Home</a></li>
            <li>Members of NGG Plants</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home7-faq-section pt-0 mb-110">
  <div class="container">
    <div class="row gy-5">
      <div
        class="col-lg-12"
        data-aos="fade-right"
        data-aos-delay="200"
        data-aos-duration="1500"
      >
        <div class="card-container">
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/ramesh .svg"
              class="avatar"
            />
            <div class="info">
              <h1>Ramesh Kumar</h1>
              <h2>CEO</h2>
              <h2>5 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/Rekha Setty.jpeg"
              class="avatar"
            />
            <div class="info">
              <h1>Rakesh</h1>
              <h2>HR Manager</h2>
              <h2>4 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/venkat.webp"
              class="avatar"
            />
            <div class="info">
              <h1>Venkat</h1>
              <h2>Quality Analyst</h2>
              <h2>3 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img src="assets/landing/img/home1/icon/suraj.jpg" class="avatar" />
            <div class="info">
              <h1>Suraj</h1>
              <h2>Supporter</h2>
              <h2>2 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/Swathi.jpeg"
              class="avatar"
            />
            <div class="info">
              <h1>Swathi</h1>
              <h2>Accoutant</h2>
              <h2>3 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/john mike.jpg"
              class="avatar"
            />
            <div class="info">
              <h1>John Mike</h1>
              <h2>Business Consulatant</h2>
              <h2>3 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/Bhargav.jpeg"
              class="avatar"
            />
            <div class="info">
              <h1>Bhargav</h1>
              <h2>Supervisior</h2>
              <h2>3 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/Bhaskar.jpeg"
              height="55"
              width="55"
              class="image8 avtar"
            />
            <div class="info">
              <h1>Bhaskar</h1>
              <h2>Supporter</h2>
              <h2>2 Years of Experience</h2>
            </div>
          </div>
          <div class="empty"></div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/keerthi Sharma.jpeg"
              class="avatar"
            />
            <div class="info">
              <h1>Keerthi Sharm</h1>
              <h2>Research Analyst</h2>
              <h2>2 Years of Experience</h2>
            </div>
          </div>
          <div class="user-card">
            <img
              src="assets/landing/img/home1/icon/Rekha Setty.jpeg"
              class="avatar"
            />
            <div class="info">
              <h1>Rekha Setty</h1>
              <h2>Community Officer</h2>
              <h2>2 Years of Experience</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
