body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;;
  padding: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  justify-content: center;
}
.user-card {
  background:lightgreen;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 7px;
  box-shadow: 0 1px;  
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}
.image8{
  border-radius: 45px;
  padding: 3px;
  gap:0px;
  width:60px;
  height: 60px;
  margin: 2px;
  margin: 1px; 
}
.info {
  line-height: 0.5;
  padding:0;
  margin:0;
}


