<div
    class="breadcrumb-section seven"
    style="background-image: url(/assets/landing/img/inner-pages/breadcrumb-bg7.png)"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    <h1>Overview of NGG Plants</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="javascript:void(0)" routerLink="/">Home</a></li>
                        <li>Overview of NGG Plants</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home7-faq-section pt-0 mb-110">
    <div class="container">
        <div class="row gy-5">
            <div
                class="col-lg-12"
                data-aos="fade-right"
                data-aos-delay="200"
                data-aos-duration="1500"
            >
                <div class="about-content">
                    <div class="section-title">
                        <p>
                            At<strong> NGG PLANTS</strong>, our motto is to transform every empty space into greenery plants. We are ommitted to deliver frsh,greenery and premium quality plants through expertised plant care,  modern cultivation methods, eco friendly practices.
                        </p>
                        <p>
                            Whether you are passionate home gardener , who is a green lover,or someone exploring the joy of greenery ,we offer a large collection of indoor plants, outdoor plants,flowering varities, herbal plants, seasonal plants which meet your requirements.
                        </p>
                        <p>
                            Our experienced gardening team ensures the each plant whether it is nurtured from seed to sapling with love and secientific precesion. We also provide advanced plant care, landscaping guidance,and selection to make your perfect green space
                        </p>
                        <h3><strong>NGG plants</strong> stands for</h3>
                        <ul >
                            <li> 
                                 Quality plants at competitive prices
                            </li>
                            <li>
                                 Reliable nationwide & export delivery
                            </li>
                            <li>
                                 Expert horticulture guidance
                            </li>
                             <li>
                                 Customised garden designs & bulk orders
                            </li>
                        </ul>
                        <p>
                            Rooted in the rich nursery legacy of kadiyam, indias green heart, we take pride in delivering healthy, vibrant plants that are grown with care, passion and expertise. From low maintainence indoor and outdoor greens to rare exoitic varieties, we cater to plant lovers, landscapers and government large-scale projects aike.
                        </p>
                        <p>
                            Join us in planting the seeds for beautiful future . Make your own garden and visualise the beauty of the world.Our mission is to bring nature close to you
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
