.announcement-box {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #cfe2c6;
  overflow: hidden;
  margin-top: 20px;

  .header {
    background: #305f1c;
    color: #fff;
    font-weight: 600;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      color: white;
    }

    .header-arrows {
      display: flex;
      gap: 1px;

      .arrow-btn,
      .arrow-btn1 {
        width: 29px;
        height: 26px;
        background: white;
        border: 1px solid #fff;
        border-radius: 6px;
        cursor: pointer;
        padding: 3px;
      }

      .arrow-btn1 {
        transform: rotate(180deg);
        padding-top: 0px;
      }

      .arrow-btn1:active {
        transform: rotate(180deg) scale(0.85);
      }

      .arrow-btn:active {
        transform: scale(0.85);
      }
    }
  }

  .scroll-area {
    max-height: 380px;
    overflow-y: auto;
    padding: 10px 15px;

    .item {
      padding: 16px 0;
      border-bottom: 1px solid #e6e6e6;

      &:last-child {
        border-bottom: none;
      }

      .row1 {
        display: flex;
        align-items: center;
        gap: 18px;

        .date {
          min-width: 80px;

          .day {
            font-size: 18px;
            font-weight: 700;
            color: #305f1c;
          }

          .year {
            font-size: 15px;
            font-weight: 500;
            color: #305f1c;
          }
        }

        .text {
          flex: 1;

          a {
            color: #2453d4;
            font-size: 15px;
            line-height: 22px;
            font-weight: 500;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.image-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.content-image {
  width: 100%;
  max-width: 350px;
  margin: 10px auto;
  display: block;
}

.content-box {
  background: #fff;
  margin-top: 12px;
  padding: 12px 14px;
  border-left: 4px solid #305f1c;
  border-radius: 4px;
}

.pdf-link {
  display: inline-block;
  padding: 6px 12px;
  background: #305f1c;
  color: #fff !important;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 5px;
  font-weight: 600;

  &:hover {
    background: #305f1c;
  }
}

.pdf-viewer {
  width: 100%;
  height: 400px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}