<div
  class="breadcrumb-section seven"
  style="
    background-image: url(/assets/landing/img/inner-pages/breadcrumb-bg7.png);
  "
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-content">
          <h1>Origin of NGG Plants</h1>
          <ul class="breadcrumb-list">
            <li><a href="javascript:void(0)" routerLink="/">Home</a></li>
            <li>Origin of NGG Plants</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home7-faq-section pt-0 mb-110">
  <div class="container">
    <div class="row gy-5">
      <div
        class="col-lg-12"
        data-aos="fade-right"
        data-aos-delay="200"
        data-aos-duration="1500"
      >
        <div class="about-content">
          <div class="section-title">
            <h1><strong>Origin of NGG Plants</strong></h1>
            <p>
              NGG Plants - NextGen NurseryThings originated in Kadiyam, East
              Godavari, a region well known for its long standing nursery
              cultivation practices.The availability of fertile soil, favourable
              climatic conditions, and a skilled nursery workforce provided a
              suitable base for starting an organized plant supply initiative.
            </p>
            <p>
              The organization was founded in 2020, during a period of
              increasing infrastructure devolopment and landscaping activities
              across public and private sectors.
            </p>
            <p>
              NGG Plants was started to meet the need for good quality plants at
              reasonable prices for large-scale landscaping and green
              devolopment projects, where sourcing consistent and affordable
              plants in bulk was a common challenge
            </p>
            <P>
              Its establishment was driven by the intent to make dependable
              plant sourcing more accessible for project requiremnts. This
              purpose formed the project requirements. This purpose formed the
              foundation on which the organization was built.
            </P>
            <p><strong>Route map for NGG plants</strong></p>
            <img
              src="assets/landing/img/home1/icon/Raod map (2).jpg"
              height="550"
              width="900"
              alt="ïmage"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
