<div
    class="breadcrumb-section seven"
    style="background-image: url(/assets/landing/img/inner-pages/breadcrumb-bg7.png)"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-content">
                    <h1>About of NGG Plants</h1>
                    <ul class="breadcrumb-list">
                        <li><a href="javascript:void(0)" routerLink="/">Home</a></li>
                        <li>NGG Plants</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home7-faq-section p mb110">
    <div class="container">
        <div class="row gy-5">
            <div
                class="col-lg-12"
                data-aos="fade-right"
                data-aos-delay="200"
                data-aos-duration="1500"
            >
                <div class="about-content">
                    <div class="section-title">
                        <h3>About of NGG Plants</h3>
                        <p>
                            At NGG, we believe in the power of plants to transform our world. Our mission is simple: to make the beauty of nature accessible to everyone, one garden at a time. Because NGG sites are found naturally throughout plants genomes, scintist make precise genetic improvements in crops.
                        </p>       
                        <p>
                            We view plants not just as decor, but as living, breathing partners in creating a healthier, more sustainable environment. Like software that makes life easier, our platform helps you visualize and manage your garden with ease, from selecting the right plants for your space to offering tailored care advice, reminders, and community support.      
                        </p>
                        <p>
                            Our vision is to help you grow not just plants, but a deeper connection with nature, contributing to a greener, more vibrant world for future generations.
                        </p>
                        <p>
                            Grow your own garden, visualize the beauty of the world, and let nature inspire your life.
                        </p> 

                        <h3>Key Features of the NGG</h3>
                        <ul>
                            <li>
                                 NGG Plants operates with a philosophy that business should "serve" and grow "for a purpose," which they state is to create greener spaces.
                            </li>
                            <li>
                                 What started  as a "small green step" has reportedly grown into a larger, "powerful movement"
                            </li>
                        </ul>

                        <h3>Benefits</h3>
                        <ul>
                            <li>
                                NGG sites are naturally found in many places in plant genomes, allowing more flexibility in choosing editing locations.
                            </li>
                            <li>
                                 Targeting NGG sites helps create improved plants more quickly than traditional breeding methods.
                            </li>
                        </ul>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>