body {
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.form-box {
  width: 95%;
  max-width: 1100px;
  margin: 30px auto;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
}

.form-header {
  background: #1f5f14;
  color: #ffffff;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.form-body {
  padding: 10px;
}

.form-row{
  display: flex;
  gap: 20px;
  margin-bottom: 12px;
}

.form-group {
  flex: 1;
}

.form-group.full {
  flex: 100%;
}

label {
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

label.required::after {
  content: " *";
  color: red;
}

input,
select,
textarea {
  width: 100%;
  height: 36px;
  padding: 6px 8px;
  font-size: 13px;
  border: 1px solid #7f7f7f;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 70px;
  resize: none;
}

.form-actions {
  text-align: center;
  margin-top: 15px;
}

.btn-submit {
  background: green;
  color: white;
  border: none;
  padding: 6px 18px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-cancel {
  background: red;
  color: white;
  border: none;
  padding: 6px 18px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}